root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
charset = utf-8
indent_style = space
trim_trailing_whitespace = true

[*.{js,jsx,json,scss}]
indent_size = 2

[*.{html,hbs}]
indent_size = 4
